  body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0px;
  }
  
  *{
    --color1: #023;
    --color2: #88C;
    --colorLight: #DDF;
    --colorDark: #023;
    --margin1: 4px;
    --margin2: 8px;
    --radius1: 5px;
  }
