  a:link{
    color: var(--colorLight);
    text-decoration: none;
  }


  .navbar{
    padding: 8px;
    margin: var(--margin1);
    border-radius: var(--radius1);
    background-color: var(--color1);
    color: var(--colorLight);
  }

  .navbar a:link, .navbar a:visited, .navbar a:active {
    color: var(--colorLight);
    padding: 8px 4px;
  }

  .header{
    padding: 20px;
    font-size: 20px;
    text-align: center;
    margin: var(--margin1);
    border-radius: var(--radius1);
    background-color: var(--color2);
    color: var(--color1);
  }


  .card{
    border-radius: var(--radius1);
    background-color: var(--colorLight);
    color: var(--color1);
    border-color: var(--color2);
    margin: var(--margin1);
  }
  
  .card > .card-header {
    padding: 10px;
    font-size: 1.2rem;
    height: 3rem;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: var(--radius1) var(--radius1) 0px 0px;
  }

  .card > .card-content {
    text-align: center;
    padding: 8px 4px;
  }
  